-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: samsatgo_flask
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `samsatgo_flask`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `samsatgo_flask` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `samsatgo_flask`;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('462a5442b523');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fine_check_inquiries`
--

DROP TABLE IF EXISTS `fine_check_inquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fine_check_inquiries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `vehicle_id` int DEFAULT NULL,
  `fine_id` int DEFAULT NULL,
  `police_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `frame_number_input` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `engine_number_input` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `incident_location` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `result_status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_fine_check_inquiries_fine_id` (`fine_id`),
  KEY `ix_fine_check_inquiries_user_id` (`user_id`),
  KEY `ix_fine_check_inquiries_vehicle_id` (`vehicle_id`),
  CONSTRAINT `fine_check_inquiries_ibfk_1` FOREIGN KEY (`fine_id`) REFERENCES `fines` (`id`),
  CONSTRAINT `fine_check_inquiries_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fine_check_inquiries_ibfk_3` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fine_check_inquiries`
--

LOCK TABLES `fine_check_inquiries` WRITE;
/*!40000 ALTER TABLE `fine_check_inquiries` DISABLE KEYS */;
/*!40000 ALTER TABLE `fine_check_inquiries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fines`
--

DROP TABLE IF EXISTS `fines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `vehicle_id` int NOT NULL,
  `violation_code` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` int NOT NULL,
  `violation_date` date DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_fines_vehicle_id` (`vehicle_id`),
  CONSTRAINT `fines_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fines`
--

LOCK TABLES `fines` WRITE;
/*!40000 ALTER TABLE `fines` DISABLE KEYS */;
INSERT INTO `fines` VALUES (1,1,'ETLE-001','Melanggar Lampu Merah','Surabaya',500000,'2026-04-20','unpaid','2026-05-03 15:52:31');
/*!40000 ALTER TABLE `fines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stnk_renewal_applications`
--

DROP TABLE IF EXISTS `stnk_renewal_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stnk_renewal_applications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  `location` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `appointment_date` date NOT NULL,
  `ktp_photo_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stnk_photo_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vehicle_photo_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `physical_check_photo_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `admin_fee` int NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `nrkb` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `frame_last_five` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_stnk_renewal_applications_user_id` (`user_id`),
  KEY `ix_stnk_renewal_applications_vehicle_id` (`vehicle_id`),
  CONSTRAINT `stnk_renewal_applications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `stnk_renewal_applications_ibfk_2` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stnk_renewal_applications`
--

LOCK TABLES `stnk_renewal_applications` WRITE;
/*!40000 ALTER TABLE `stnk_renewal_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `stnk_renewal_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_check_inquiries`
--

DROP TABLE IF EXISTS `tax_check_inquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tax_check_inquiries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `vehicle_id` int DEFAULT NULL,
  `tax_record_id` int DEFAULT NULL,
  `nrkb` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `frame_last_five` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_tax_check_inquiries_tax_record_id` (`tax_record_id`),
  KEY `ix_tax_check_inquiries_user_id` (`user_id`),
  KEY `ix_tax_check_inquiries_vehicle_id` (`vehicle_id`),
  CONSTRAINT `tax_check_inquiries_ibfk_1` FOREIGN KEY (`tax_record_id`) REFERENCES `tax_records` (`id`),
  CONSTRAINT `tax_check_inquiries_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `tax_check_inquiries_ibfk_3` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_check_inquiries`
--

LOCK TABLES `tax_check_inquiries` WRITE;
/*!40000 ALTER TABLE `tax_check_inquiries` DISABLE KEYS */;
INSERT INTO `tax_check_inquiries` VALUES (1,1,1,1,'AG 1234 RFS','98765','3276010101010001','found','2026-05-03 15:55:21');
/*!40000 ALTER TABLE `tax_check_inquiries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_records`
--

DROP TABLE IF EXISTS `tax_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tax_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `vehicle_id` int NOT NULL,
  `tax_year` int NOT NULL,
  `base_tax` int NOT NULL,
  `swdkllj` int NOT NULL,
  `admin_fee` int NOT NULL,
  `fine_amount` int NOT NULL,
  `total_amount` int NOT NULL,
  `due_date` date DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_tax_records_vehicle_id` (`vehicle_id`),
  CONSTRAINT `tax_records_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_records`
--

LOCK TABLES `tax_records` WRITE;
/*!40000 ALTER TABLE `tax_records` DISABLE KEYS */;
INSERT INTO `tax_records` VALUES (1,1,2026,2150000,35000,5000,0,2190000,'2026-05-15',NULL,'unpaid','2026-05-03 15:52:31');
/*!40000 ALTER TABLE `tax_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tax_record_id` int DEFAULT NULL,
  `fine_id` int DEFAULT NULL,
  `order_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gross_amount` int NOT NULL,
  `snap_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `snap_redirect_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_type` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transaction_status` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fraud_status` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `midtrans_transaction_id` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_response` json DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `stnk_renewal_application_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_transactions_order_id` (`order_id`),
  KEY `fine_id` (`fine_id`),
  KEY `tax_record_id` (`tax_record_id`),
  KEY `ix_transactions_user_id` (`user_id`),
  KEY `fk_transactions_stnk_renewal_application_id` (`stnk_renewal_application_id`),
  CONSTRAINT `fk_transactions_stnk_renewal_application_id` FOREIGN KEY (`stnk_renewal_application_id`) REFERENCES `stnk_renewal_applications` (`id`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`fine_id`) REFERENCES `fines` (`id`),
  CONSTRAINT `transactions_ibfk_2` FOREIGN KEY (`tax_record_id`) REFERENCES `tax_records` (`id`),
  CONSTRAINT `transactions_ibfk_3` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  UNIQUE KEY `nik` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Budi Santoso','user@example.com','3276010101010001','081234567890','scrypt:32768:8:1$xUUxTUV22EEHhoYL$32a60b43bafee58146aa3929fb144883a3c2a5766d4e0bd7149b50b85031d20005be57287309563439f8c1b28b272361f532959d7a1eb8f145d4ae248b884b14','citizen','2026-05-03 15:52:31');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_info_inquiries`
--

DROP TABLE IF EXISTS `vehicle_info_inquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_info_inquiries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `vehicle_id` int DEFAULT NULL,
  `police_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nrkb` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `frame_last_five` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nik` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_vehicle_info_inquiries_user_id` (`user_id`),
  KEY `ix_vehicle_info_inquiries_vehicle_id` (`vehicle_id`),
  CONSTRAINT `vehicle_info_inquiries_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `vehicle_info_inquiries_ibfk_2` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_info_inquiries`
--

LOCK TABLES `vehicle_info_inquiries` WRITE;
/*!40000 ALTER TABLE `vehicle_info_inquiries` DISABLE KEYS */;
INSERT INTO `vehicle_info_inquiries` VALUES (1,1,1,'AG 1234 RFS','AG 1234 RFS','98765','3276010101010001','found','2026-05-03 15:59:12'),(2,1,1,'AG 1234 RFS','AG 1234 RFS','98765','3201234567890001','nik_mismatch','2026-05-03 15:59:37');
/*!40000 ALTER TABLE `vehicle_info_inquiries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `plate_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner_name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `brand` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `year` int NOT NULL,
  `color` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `frame_number` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `engine_number` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stnk_number` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_vehicles_plate_number` (`plate_number`),
  KEY `ix_vehicles_frame_number` (`frame_number`),
  KEY `ix_vehicles_user_id` (`user_id`),
  CONSTRAINT `vehicles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES (1,1,'AG 1234 RFS','Budi Santoso','Toyota','Avanza 1.3 G',2021,'Hitam','MHKA1234598765','98765','STNK-2026-0001','2026-05-03 15:52:31');
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'samsatgo_flask'
--

--
-- Dumping routines for database 'samsatgo_flask'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 23:01:57
